% rebase("components/base.html", title="All Tweets")

<div class="flex-grow h-full grid grid-cols-[max-content_auto]">
  <div class="w-[69px] h-screen">
    % include("components/header-home")
  </div>
  <main class="pb-4">
    <div class="sticky top-0 p-4 bg-white/[0.97]">
      <h1 class="text-xl font-bold">All tweets</h1>
    </div>

    <section>
      % for tweet in tweets:
        <form data-id="" data-form="tweet" data-liked="" class="flex gap-4 p-4 border-b border-gray-200">
          <div class="min-w-[3rem]">
            <a class="rounded-full outline-none" href="#">
              <img class="w-12 h-12 rounded-full" src="http://placekitten.com/g/300/300" alt="#">
            </a>
          </div>
          <div class="flex flex-col flex-grow">
            <div class="flex items-center gap-1 text-gray-400">
              <a data-field="name-link" class="flex items-center gap-1 font-bold text-black hover:underline" href="#">
                <span data-field="name">Elon Musk</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-primary-200" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                </svg>
              </a>
              <a data-field="username" class="text-sm hover:underline" href="#">@eloncatmusk</a>
              <span>&centerdot;</span>
              <span data-field="date" class="text-sm cursor-pointer hover:underline">Mar 19</span>
              <button data-action="more" class="ml-auto" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
                </svg>
              </button>
            </div>
            <p data-field="text" class="mb-4">{{ tweet["tweet_text"] }}</p>
            <img data-field="image" class="w-full mb-4 is-hidden rounded-2xl" src="" alt="#">
            <ul class="flex justify-between pr-2 text-gray-400">
              <li>
                <button data-action="comment" class="flex gap-2" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
                  </svg>
                  <span data-field="comment-counter" class="text-sm">2.8k</span>
                  <span class="sr-only">Comment</span>
                </button>
              </li>
              <li>
                <button data-action="retweet" class="flex gap-2" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8 7h12m0 0l-4-4m4 4l-4 4m0 6H4m0 0l4 4m-4-4l4-4" />
                  </svg>
                  <span data-field="retweet-counter" class="text-sm">1.2k</span>
                  <span class="sr-only">Retweet</span>
                </button>
              </li>
              <li>
                <button data-action="like" data-state="shown" class="flex gap-2" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                  </svg>
                  <span class="sr-only">Like</span>
                  <span data-field="like-counter" class="text-sm">11.4k</span>
                </button>
              </li>
              <li>
                <button data-action="share" class="flex gap-2" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z" />
                  </svg>
                  <span class="sr-only">Share</span>
                </button>
              </li>
            </ul>
          </div>
        </form>
      % end
    </section>
  </main>
</div>

% include("templates/tweet-item.html")