% rebase("components/base.html", title="Home")

<script src="js/home.js" type="module" defer></script>

<div class="flex-grow h-full grid grid-cols-[max-content_auto]">
  <div class="w-[69px] h-screen">
    % include("components/header-home")
  </div>
  <main class="pb-4">
    <div class="sticky top-0 p-4 bg-white/[0.97]">
      <h1 class="text-xl font-bold">Home</h1>
    </div>

    % include("components/tweet-form")

    <section data-hook="tweets"></section>
  </main>
</div>

% include("templates/tweet-item.html")