% rebase("components/base.html", title="Where it happens")

<script src="js/index.js" type="module" defer></script>

<main class="flex-grow md:flex md:flex-row-reverse">

    <div class="flex-grow flex flex-col items-start max-w-xl px-8 mx-auto mb-10 md:max-w-none md:my-auto lg:min-w-[45vw] lg:w-2/5">
      <div class="pt-8 md:pt-0 pb-14">
        <svg class="w-12 h-12 fill-primary-200" viewBox="0 0 24 24" aria-hidden="true"><g><path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path></g></svg>
      </div>
      <h1 class="mb-12 font-bold text-7xl">Happening now</h1>
      <h2 class="mb-10 text-4xl font-bold">Join Tweeter today.</h2>
      <a class="px-8 py-2 mb-2 font-semibold text-center text-white transition-colors rounded-full bg-primary-200 w-80 hover:bg-primary-100" href="#">Sign up with phone or email</a>
      <p class="mb-12 text-xs w-80">By signing up, you agree to the <a class="text-primary-200" href="#">Terms of Service</a> and <a class="text-primary-200" href="#">Privacy Policy</a>, including <a class="text-primary-200" href="#">Cookie Use.</a></p>
      <h3 class="mb-6 font-bold">Already have an account?</h3>
      <a class="px-8 py-2 font-semibold text-center transition-colors border border-gray-300 rounded-full text-primary-200 w-80 hover:bg-primary-200 hover:bg-opacity-10" href="#">Sign in</a>
    </div>
    
    <div>
      <img class="object-cover w-full min-h-[46vh] xs:min-h-0 h-full" src="static/images/frontpage-cover.jpg" alt="#">
    </div>
    
  





  <div style="display: grid; display: none;">
    <h2>Login</h2>
    <form action="/login" method="POST" data-form="user-login" style="display: grid;">
      <label for="user-login-email">E-mail</label>
      <input type="email" name="user_email" id="user-login-email">
      <label for="user-login-password">Password</label>
      <input type="password" name="user_password" id="user-login-password">
      <button>Login</button>
    </form>
  </div>
  
  <div style="display: grid; display: none;">
    <h2>Create account</h2>
    <form action="/users" method="POST" data-form="user-signup" style="display: grid;">
      <label for="user-signup-name">Name</label>
      <input type="text" name="user_name" id="user-signup-name">
      <label for="user-signup-username">Username</label>
      <input type="text" name="user_username" id="user-signup-username">
      <label for="user-signup-email">Email</label>
      <input type="email" name="user_email" id="user-signup-email">
      <label for="user-signup-password">Password</label>
      <input type="password" name="user_password" id="user-signup-password">
      <button type="submit">Signup</button>
    </form>
  </div>

</main>

<footer class="p-3">
  <nav aria-label="Footer" role="navigation">
    <ul class="flex flex-wrap justify-center gap-x-3">
      % for link in footer_links:
        <li>
          <a class="text-xs text-gray-400 hover:underline" href="#">{{ link }}</a>
        </li>
      % end
    </ul>
  </nav>
</footer>